<div class="app_card app_card_shadow">
    <div class="app_card_header p-3">
        <div class="row">
            <div class="col-9">
                <div class="position-relative">
                    <img src="../../assets/image/reminder.png" width="45px" alt="">
                    <span>
                        <h6>Reminder</h6>
                    </span>
                </div>
            </div>
            <div class="col-3" style="position: relative;">
                <span class="right_header">
                    <span class="card_date">
                        27 July
                    </span>
                    <span class="material-icons more_vert">
                        more_vert
                    </span>
                </span>
            </div>
        </div>
    </div>
    <div class="app_card_main p-3">   
        <h6>Setup your Follow Up appointment in advance.</h6>
           <div class="reminder_list mt-5">
            <div>
                <span class="material-icons">
                notifications
                </span>&nbsp;&nbsp;&nbsp; Acne - Dr Krishnamuni 
                <span class="date">07/03/2020</span> 
            </div>
            <div>
                <span class="material-icons">
                notifications
                </span>&nbsp;&nbsp;&nbsp;Allergy - Dr. Krishna
                <span class="date">12/03/2020</span> 
            </div>
            <div>
                <span class="material-icons">
                notifications
                </span>&nbsp;&nbsp;&nbsp;X-Ray - Dr. John Smith 
                <span class="date">09/05/2020</span> 
            </div>
            <div>
                <span class="material-icons">
                notifications
                </span>&nbsp;&nbsp;&nbsp;X-Ray - John Smith 
                <span class="date">17/06/2020
                </span> 
            </div>
           </div>
    </div>
    <div class="app_card_foote p-3">
        <div class="conatainer-fluid">
            <div class="row">
                <div class="col-12 col-lg-12">
                    <span class="float-right">
                        <button type="button" class="btn app_btn_one px-4 ">
                            <span class="material-icons">
                                book
                        </span>&nbsp; Book Appointment
                    </button> 
                    </span>                
                </div>
            </div>
        </div>
        
    </div>
</div>




