<div class="app_card app_card_shadow">
    <div class="app_card_header p-3">
        <div class="row">
            <div class="col-9">
                <div class="position-relative">
                    <img src="../../assets/image/medication.png" width="45px" alt="">
                    <span>
                        <h6>Medication <br> Reminders</h6>
                    </span>
                </div>
            </div>
            <div class="col-3" style="position: relative;">
                <span class="right_header">
                    <span class="card_date">
                        27 July
                    </span>
                    <span class="material-icons more_vert">
                        more_vert
                    </span>
                </span>
            </div>
        </div>
    </div>
    <div class="app_card_main p-3 center_xy">
        <div class="app_card_main_inner">
            <!-- list 1 -->
            <div class="row list">
                <span class="col-3">
                    <button type="button" class="btn app_btn_two btn-sm">
                        8:30
                    </button> 
                 </span>
                <span class="col-5">Vitamin D <span class="quantity">50mg</span> </span>
                <span class="col-4">after food</span> 
            </div>
             <!-- list 2 -->
             <div class="row my-3 list">
                <span class="col-3">
                    <button type="button" class="btn app_btn_two btn-sm">
                        Now
                    </button> 
                </span>
                <span class="col-5">Telmasartan <span class="quantity">40mg + 2</span></span>
                <span class="col-4">(After Food.)
                </span> 
            </div>
             <!-- list 3 -->
             <div class="row my-3 list">
                <span class="col-3">
                    <button type="button" class="btn app_btn_two btn-sm">
                        13:00
                    </button> 
                </span>
                <span class="col-5">Vitamin C <span class="quantity">50mg</span>  </span>
                <span class="col-4">(After Food.)
                </span> 
            </div>
             <!-- list 4 -->
             <div class="row list">
                <span class="col-3">
                    <button type="button" class="btn app_btn_two btn-sm">
                        21:00
                    </button> 
                </span>
                <span class="col-5">Baldrian - <span class="quantity">10 drop</span> </span>
                <span class="col-4">(After Food.)
                </span> 
            </div>
        </div>
    </div>
    <div class="app_card_foote p-3">
        <div class="conatainer-fluid">
            <div class="row">
                <div class="col-12 col-lg-12">
                    <span class="float-right">
                        <button type="button" class="btn app_btn_two   px-4">
                            <span class="material-icons">
                                local_hospital
                        </span>&nbsp; Reminders
                    </button> 
                    </span>                
                </div>
            </div>
        </div>
        
    </div>
</div>
