.Is_Dr_Available {
  background-color: white;
  min-height: 20px;
  width: 90%;
  border-radius: 10px;
}

.Dr_Available_card {
  position: relative;
}
.Dr_Available_card h6 {
  position: absolute;
  top: 0;
  left: 62px;
  font-weight: 700;
  color: gray;
}
.online {
  width: 15px;
  height: 15px;
  background-color: yellowgreen;
  border-radius: 50%;
  position: relative;
  float: right;
}
.online::after {
  content: "online";
  position: absolute;
  top: 15px;
  right: -10px;
  font-size: 15px;
}
